/.vs/HeroForge-OnceAgain/FileContentIndex/903570a8-8575-41de-915e-4fcae822efbe.vsidx
/.vs/HeroForge-OnceAgain/FileContentIndex/922a0d50-d56e-43e0-83fd-b8148ad0955e.vsidx
/.vs/HeroForge-OnceAgain/FileContentIndex/b0d05fbd-10af-4875-86f1-a880edbb81d9.vsidx
/.vs/HeroForge-OnceAgain/FileContentIndex/read.lock
/.vs/HeroForge-OnceAgain/v17/.suo
/bin/Debug/HeroForge-OnceAgain.exe
/bin/Debug/HeroForge-OnceAgain.exe.config
/bin/Debug/HeroForge-OnceAgain.pdb
/bin/Debug/pt-BR/HeroForge-OnceAgain.resources.dll
/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/HeroForge_OnceAgain.Form1.pt-BR.resources
/obj/Debug/HeroForge_OnceAgain.Form1.resources
/obj/Debug/HeroForge_OnceAgain.Properties.Resources.resources
/obj/Debug/HeroForge-OnceAgain.csproj.AssemblyReference.cache
/obj/Debug/HeroForge-OnceAgain.csproj.CoreCompileInputs.cache
/obj/Debug/HeroForge-OnceAgain.csproj.FileListAbsolute.txt
/obj/Debug/HeroForge-OnceAgain.csproj.GenerateResource.cache
/obj/Debug/HeroForge-OnceAgain.csproj.SuggestedBindingRedirects.cache
/obj/Debug/HeroForge-OnceAgain.exe
/obj/Debug/HeroForge-OnceAgain.pdb
/obj/Debug/pt-BR/HeroForge-OnceAgain.resources.dll
/.vs/HeroForge-OnceAgain/FileContentIndex/0b251ab7-e60a-4254-b77f-9555b785fb50.vsidx
/.vs/HeroForge-OnceAgain/FileContentIndex/39a1ce73-5e7e-47da-84fa-db06e3422e76.vsidx
/.vs/HeroForge-OnceAgain/FileContentIndex/8c154377-0050-4c60-a45a-4c3056ddddcc.vsidx
/bin/Debug/app.publish/Application Files/HeroForge-OnceAgain_1_0_0_1/HeroForge-OnceAgain.exe.config.deploy
/bin/Debug/app.publish/Application Files/HeroForge-OnceAgain_1_0_0_1/HeroForge-OnceAgain.exe.deploy
/bin/Debug/app.publish/Application Files/HeroForge-OnceAgain_1_0_0_1/HeroForge-OnceAgain.exe.manifest
/bin/Debug/app.publish/Application Files/HeroForge-OnceAgain_1_0_0_1/heroforge.ico.deploy
/bin/Debug/app.publish/Application Files/HeroForge-OnceAgain_1_0_0_1/pt-BR/HeroForge-OnceAgain.resources.dll.deploy
/bin/Debug/app.publish/HeroForge-OnceAgain.application
/bin/Debug/app.publish/HeroForge-OnceAgain.exe
/bin/Debug/app.publish/setup.exe
/bin/Debug/HeroForge-OnceAgain.application
/bin/Debug/HeroForge-OnceAgain.exe.manifest
/HeroForge-OnceAgain_TemporaryKey.pfx
/HeroForge-OnceAgain.csproj.user
/obj/Debug/HeroForge-OnceAgain.application
/obj/Debug/HeroForge-OnceAgain.exe.manifest
/.vs/HeroForge-OnceAgain/FileContentIndex/3bc2f80d-2f32-4a4f-a164-8e514cb8a4c9.vsidx
/.vs/HeroForge-OnceAgain/FileContentIndex/fbe0dd7c-b385-4504-9322-bc9a067f06d0.vsidx
/.vs/HeroForge-OnceAgain/v17/TestStore/0/000.testlog
/.vs/HeroForge-OnceAgain/v17/TestStore/0/testlog.manifest
/bin/Debug/ClosedXML.dll
/bin/Debug/ClosedXML.pdb
/bin/Debug/ClosedXML.xml
/bin/Debug/CsvHelper.dll
/bin/Debug/CsvHelper.xml
/bin/Debug/DocumentFormat.OpenXml.dll
/bin/Debug/DocumentFormat.OpenXml.xml
/bin/Debug/ExcelNumberFormat.dll
/bin/Debug/ExcelNumberFormat.xml
/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
/bin/Debug/Microsoft.Bcl.HashCode.dll
/bin/Debug/Microsoft.Bcl.HashCode.xml
/bin/Debug/System.Buffers.dll
/bin/Debug/System.Buffers.xml
/bin/Debug/System.IO.Packaging.dll
/bin/Debug/System.Memory.dll
/bin/Debug/System.Memory.xml
/bin/Debug/System.Numerics.Vectors.dll
/bin/Debug/System.Numerics.Vectors.xml
/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/bin/Debug/System.Threading.Tasks.Extensions.dll
/bin/Debug/System.Threading.Tasks.Extensions.xml
/obj/Debug/HeroForge-OnceAgain.csproj.CopyComplete
/packages/ClosedXML.0.95.4/.signature.p7s
/packages/ClosedXML.0.95.4/ClosedXML.0.95.4.nupkg
/packages/ClosedXML.0.95.4/lib/net40/ClosedXML.dll
/packages/ClosedXML.0.95.4/lib/net40/ClosedXML.pdb
/packages/ClosedXML.0.95.4/lib/net40/ClosedXML.xml
/packages/ClosedXML.0.95.4/lib/net46/ClosedXML.dll
/packages/ClosedXML.0.95.4/lib/net46/ClosedXML.pdb
/packages/ClosedXML.0.95.4/lib/net46/ClosedXML.xml
/packages/ClosedXML.0.95.4/lib/netstandard2.0/ClosedXML.dll
/packages/ClosedXML.0.95.4/lib/netstandard2.0/ClosedXML.pdb
/packages/ClosedXML.0.95.4/lib/netstandard2.0/ClosedXML.xml
/packages/ClosedXML.0.95.4/nuget-logo.png
/packages/CsvHelper.30.0.1/.signature.p7s
/packages/CsvHelper.30.0.1/CsvHelper.30.0.1.nupkg
/packages/CsvHelper.30.0.1/Icon.png
/packages/CsvHelper.30.0.1/lib/net45/CsvHelper.dll
/packages/CsvHelper.30.0.1/lib/net45/CsvHelper.xml
/packages/CsvHelper.30.0.1/lib/net47/CsvHelper.dll
/packages/CsvHelper.30.0.1/lib/net47/CsvHelper.xml
/packages/CsvHelper.30.0.1/lib/net5.0/CsvHelper.dll
/packages/CsvHelper.30.0.1/lib/net5.0/CsvHelper.xml
/packages/CsvHelper.30.0.1/lib/net6.0/CsvHelper.dll
/packages/CsvHelper.30.0.1/lib/net6.0/CsvHelper.xml
/packages/CsvHelper.30.0.1/lib/netstandard2.0/CsvHelper.dll
/packages/CsvHelper.30.0.1/lib/netstandard2.0/CsvHelper.xml
/packages/CsvHelper.30.0.1/lib/netstandard2.1/CsvHelper.dll
/packages/CsvHelper.30.0.1/lib/netstandard2.1/CsvHelper.xml
/packages/DocumentFormat.OpenXml.2.7.2/.signature.p7s
/packages/DocumentFormat.OpenXml.2.7.2/DocumentFormat.OpenXml.2.7.2.nupkg
/packages/DocumentFormat.OpenXml.2.7.2/lib/net35/DocumentFormat.OpenXml.dll
/packages/DocumentFormat.OpenXml.2.7.2/lib/net35/DocumentFormat.OpenXml.xml
/packages/DocumentFormat.OpenXml.2.7.2/lib/net40/DocumentFormat.OpenXml.dll
/packages/DocumentFormat.OpenXml.2.7.2/lib/net40/DocumentFormat.OpenXml.xml
/packages/DocumentFormat.OpenXml.2.7.2/lib/net46/DocumentFormat.OpenXml.dll
/packages/DocumentFormat.OpenXml.2.7.2/lib/net46/DocumentFormat.OpenXml.xml
/packages/DocumentFormat.OpenXml.2.7.2/lib/netstandard1.3/DocumentFormat.OpenXml.dll
/packages/DocumentFormat.OpenXml.2.7.2/lib/netstandard1.3/DocumentFormat.OpenXml.xml
/packages/ExcelNumberFormat.1.0.10/.signature.p7s
/packages/ExcelNumberFormat.1.0.10/ExcelNumberFormat.1.0.10.nupkg
/packages/ExcelNumberFormat.1.0.10/lib/net20/ExcelNumberFormat.dll
/packages/ExcelNumberFormat.1.0.10/lib/net20/ExcelNumberFormat.xml
/packages/ExcelNumberFormat.1.0.10/lib/netstandard1.0/ExcelNumberFormat.dll
/packages/ExcelNumberFormat.1.0.10/lib/netstandard1.0/ExcelNumberFormat.xml
/packages/ExcelNumberFormat.1.0.10/lib/netstandard2.0/ExcelNumberFormat.dll
/packages/ExcelNumberFormat.1.0.10/lib/netstandard2.0/ExcelNumberFormat.xml
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/.signature.p7s
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/lib/net461/Microsoft.Bcl.AsyncInterfaces.dll
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/lib/net461/Microsoft.Bcl.AsyncInterfaces.xml
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.dll
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.xml
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/lib/netstandard2.1/Microsoft.Bcl.AsyncInterfaces.dll
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/lib/netstandard2.1/Microsoft.Bcl.AsyncInterfaces.xml
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/LICENSE.TXT
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/Microsoft.Bcl.AsyncInterfaces.1.0.0.nupkg
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/ref/net461/Microsoft.Bcl.AsyncInterfaces.dll
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/ref/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.dll
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/ref/netstandard2.1/Microsoft.Bcl.AsyncInterfaces.dll
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/THIRD-PARTY-NOTICES.TXT
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/useSharedDesignerContext.txt
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/version.txt
/packages/Microsoft.Bcl.HashCode.1.0.0/.signature.p7s
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/net461/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/net461/Microsoft.Bcl.HashCode.xml
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/netcoreapp2.1/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/netcoreapp2.1/Microsoft.Bcl.HashCode.xml
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/netstandard2.0/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/netstandard2.0/Microsoft.Bcl.HashCode.xml
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/netstandard2.1/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/netstandard2.1/Microsoft.Bcl.HashCode.xml
/packages/Microsoft.Bcl.HashCode.1.0.0/LICENSE.TXT
/packages/Microsoft.Bcl.HashCode.1.0.0/Microsoft.Bcl.HashCode.1.0.0.nupkg
/packages/Microsoft.Bcl.HashCode.1.0.0/ref/net461/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/ref/netcoreapp2.1/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/ref/netstandard2.0/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/ref/netstandard2.1/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/THIRD-PARTY-NOTICES.TXT
/packages/Microsoft.Bcl.HashCode.1.0.0/useSharedDesignerContext.txt
/packages/Microsoft.Bcl.HashCode.1.0.0/version.txt
/packages/Microsoft.CSharp.4.7.0/.signature.p7s
/packages/Microsoft.CSharp.4.7.0/lib/MonoAndroid10/_._
/packages/Microsoft.CSharp.4.7.0/lib/MonoTouch10/_._
/packages/Microsoft.CSharp.4.7.0/lib/net45/_._
/packages/Microsoft.CSharp.4.7.0/lib/netcore50/Microsoft.CSharp.dll
/packages/Microsoft.CSharp.4.7.0/lib/netcoreapp2.0/_._
/packages/Microsoft.CSharp.4.7.0/lib/netstandard1.3/Microsoft.CSharp.dll
/packages/Microsoft.CSharp.4.7.0/lib/netstandard2.0/Microsoft.CSharp.dll
/packages/Microsoft.CSharp.4.7.0/lib/netstandard2.0/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/lib/portable-net45+win8+wp8+wpa81/_._
/packages/Microsoft.CSharp.4.7.0/lib/uap10.0.16299/_._
/packages/Microsoft.CSharp.4.7.0/lib/win8/_._
/packages/Microsoft.CSharp.4.7.0/lib/wp80/_._
/packages/Microsoft.CSharp.4.7.0/lib/wpa81/_._
/packages/Microsoft.CSharp.4.7.0/lib/xamarinios10/_._
/packages/Microsoft.CSharp.4.7.0/lib/xamarinmac20/_._
/packages/Microsoft.CSharp.4.7.0/lib/xamarintvos10/_._
/packages/Microsoft.CSharp.4.7.0/lib/xamarinwatchos10/_._
/packages/Microsoft.CSharp.4.7.0/LICENSE.TXT
/packages/Microsoft.CSharp.4.7.0/Microsoft.CSharp.4.7.0.nupkg
/packages/Microsoft.CSharp.4.7.0/ref/MonoAndroid10/_._
/packages/Microsoft.CSharp.4.7.0/ref/MonoTouch10/_._
/packages/Microsoft.CSharp.4.7.0/ref/net45/_._
/packages/Microsoft.CSharp.4.7.0/ref/netcore50/de/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netcore50/es/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netcore50/fr/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netcore50/it/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netcore50/ja/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netcore50/ko/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netcore50/Microsoft.CSharp.dll
/packages/Microsoft.CSharp.4.7.0/ref/netcore50/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netcore50/ru/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netcore50/zh-hans/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netcore50/zh-hant/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netcoreapp2.0/_._
/packages/Microsoft.CSharp.4.7.0/ref/netstandard1.0/de/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netstandard1.0/es/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netstandard1.0/fr/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netstandard1.0/it/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netstandard1.0/ja/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netstandard1.0/ko/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netstandard1.0/Microsoft.CSharp.dll
/packages/Microsoft.CSharp.4.7.0/ref/netstandard1.0/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netstandard1.0/ru/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netstandard1.0/zh-hans/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netstandard1.0/zh-hant/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/netstandard2.0/Microsoft.CSharp.dll
/packages/Microsoft.CSharp.4.7.0/ref/netstandard2.0/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.7.0/ref/portable-net45+win8+wp8+wpa81/_._
/packages/Microsoft.CSharp.4.7.0/ref/uap10.0.16299/_._
/packages/Microsoft.CSharp.4.7.0/ref/win8/_._
/packages/Microsoft.CSharp.4.7.0/ref/wp80/_._
/packages/Microsoft.CSharp.4.7.0/ref/wpa81/_._
/packages/Microsoft.CSharp.4.7.0/ref/xamarinios10/_._
/packages/Microsoft.CSharp.4.7.0/ref/xamarinmac20/_._
/packages/Microsoft.CSharp.4.7.0/ref/xamarintvos10/_._
/packages/Microsoft.CSharp.4.7.0/ref/xamarinwatchos10/_._
/packages/Microsoft.CSharp.4.7.0/THIRD-PARTY-NOTICES.TXT
/packages/Microsoft.CSharp.4.7.0/useSharedDesignerContext.txt
/packages/Microsoft.CSharp.4.7.0/version.txt
/packages/System.Buffers.4.4.0/.signature.p7s
/packages/System.Buffers.4.4.0/lib/netcoreapp2.0/_._
/packages/System.Buffers.4.4.0/lib/netstandard1.1/System.Buffers.dll
/packages/System.Buffers.4.4.0/lib/netstandard1.1/System.Buffers.xml
/packages/System.Buffers.4.4.0/lib/netstandard2.0/System.Buffers.dll
/packages/System.Buffers.4.4.0/lib/netstandard2.0/System.Buffers.xml
/packages/System.Buffers.4.4.0/LICENSE.TXT
/packages/System.Buffers.4.4.0/ref/netcoreapp2.0/_._
/packages/System.Buffers.4.4.0/ref/netstandard1.1/System.Buffers.dll
/packages/System.Buffers.4.4.0/ref/netstandard1.1/System.Buffers.xml
/packages/System.Buffers.4.4.0/ref/netstandard2.0/System.Buffers.dll
/packages/System.Buffers.4.4.0/ref/netstandard2.0/System.Buffers.xml
/packages/System.Buffers.4.4.0/System.Buffers.4.4.0.nupkg
/packages/System.Buffers.4.4.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Buffers.4.4.0/useSharedDesignerContext.txt
/packages/System.Buffers.4.4.0/version.txt
/packages/System.IO.FileSystem.Primitives.4.0.1/.signature.p7s
/packages/System.IO.FileSystem.Primitives.4.0.1/dotnet_library_license.txt
/packages/System.IO.FileSystem.Primitives.4.0.1/lib/MonoAndroid10/_._
/packages/System.IO.FileSystem.Primitives.4.0.1/lib/MonoTouch10/_._
/packages/System.IO.FileSystem.Primitives.4.0.1/lib/net46/System.IO.FileSystem.Primitives.dll
/packages/System.IO.FileSystem.Primitives.4.0.1/lib/netstandard1.3/System.IO.FileSystem.Primitives.dll
/packages/System.IO.FileSystem.Primitives.4.0.1/lib/xamarinios10/_._
/packages/System.IO.FileSystem.Primitives.4.0.1/lib/xamarinmac20/_._
/packages/System.IO.FileSystem.Primitives.4.0.1/lib/xamarintvos10/_._
/packages/System.IO.FileSystem.Primitives.4.0.1/lib/xamarinwatchos10/_._
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/MonoAndroid10/_._
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/MonoTouch10/_._
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/net46/System.IO.FileSystem.Primitives.dll
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/netstandard1.3/de/System.IO.FileSystem.Primitives.xml
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/netstandard1.3/es/System.IO.FileSystem.Primitives.xml
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/netstandard1.3/fr/System.IO.FileSystem.Primitives.xml
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/netstandard1.3/it/System.IO.FileSystem.Primitives.xml
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/netstandard1.3/ja/System.IO.FileSystem.Primitives.xml
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/netstandard1.3/ko/System.IO.FileSystem.Primitives.xml
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/netstandard1.3/ru/System.IO.FileSystem.Primitives.xml
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/netstandard1.3/System.IO.FileSystem.Primitives.dll
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/netstandard1.3/System.IO.FileSystem.Primitives.xml
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/netstandard1.3/zh-hans/System.IO.FileSystem.Primitives.xml
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/netstandard1.3/zh-hant/System.IO.FileSystem.Primitives.xml
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/xamarinios10/_._
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/xamarinmac20/_._
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/xamarintvos10/_._
/packages/System.IO.FileSystem.Primitives.4.0.1/ref/xamarinwatchos10/_._
/packages/System.IO.FileSystem.Primitives.4.0.1/System.IO.FileSystem.Primitives.4.0.1.nupkg
/packages/System.IO.FileSystem.Primitives.4.0.1/ThirdPartyNotices.txt
/packages/System.IO.Packaging.4.0.0/.signature.p7s
/packages/System.IO.Packaging.4.0.0/dotnet_library_license.txt
/packages/System.IO.Packaging.4.0.0/lib/net46/System.IO.Packaging.dll
/packages/System.IO.Packaging.4.0.0/lib/netstandard1.3/System.IO.Packaging.dll
/packages/System.IO.Packaging.4.0.0/ref/net46/System.IO.Packaging.dll
/packages/System.IO.Packaging.4.0.0/ref/netstandard1.3/System.IO.Packaging.dll
/packages/System.IO.Packaging.4.0.0/System.IO.Packaging.4.0.0.nupkg
/packages/System.IO.Packaging.4.0.0/ThirdPartyNotices.txt
/packages/System.Memory.4.5.0/.signature.p7s
/packages/System.Memory.4.5.0/lib/MonoAndroid10/_._
/packages/System.Memory.4.5.0/lib/MonoTouch10/_._
/packages/System.Memory.4.5.0/lib/netcoreapp2.1/_._
/packages/System.Memory.4.5.0/lib/netstandard1.1/System.Memory.dll
/packages/System.Memory.4.5.0/lib/netstandard1.1/System.Memory.xml
/packages/System.Memory.4.5.0/lib/netstandard2.0/System.Memory.dll
/packages/System.Memory.4.5.0/lib/netstandard2.0/System.Memory.xml
/packages/System.Memory.4.5.0/lib/uap10.0.16300/_._
/packages/System.Memory.4.5.0/lib/xamarinios10/_._
/packages/System.Memory.4.5.0/lib/xamarinmac20/_._
/packages/System.Memory.4.5.0/lib/xamarintvos10/_._
/packages/System.Memory.4.5.0/lib/xamarinwatchos10/_._
/packages/System.Memory.4.5.0/LICENSE.TXT
/packages/System.Memory.4.5.0/ref/MonoAndroid10/_._
/packages/System.Memory.4.5.0/ref/MonoTouch10/_._
/packages/System.Memory.4.5.0/ref/netcoreapp2.1/_._
/packages/System.Memory.4.5.0/ref/netstandard1.1/System.Memory.dll
/packages/System.Memory.4.5.0/ref/netstandard1.1/System.Memory.xml
/packages/System.Memory.4.5.0/ref/netstandard2.0/System.Memory.dll
/packages/System.Memory.4.5.0/ref/netstandard2.0/System.Memory.xml
/packages/System.Memory.4.5.0/ref/uap10.0.16300/_._
/packages/System.Memory.4.5.0/ref/xamarinios10/_._
/packages/System.Memory.4.5.0/ref/xamarinmac20/_._
/packages/System.Memory.4.5.0/ref/xamarintvos10/_._
/packages/System.Memory.4.5.0/ref/xamarinwatchos10/_._
/packages/System.Memory.4.5.0/System.Memory.4.5.0.nupkg
/packages/System.Memory.4.5.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Memory.4.5.0/useSharedDesignerContext.txt
/packages/System.Memory.4.5.0/version.txt
/packages/System.Numerics.Vectors.4.4.0/.signature.p7s
/packages/System.Numerics.Vectors.4.4.0/lib/MonoAndroid10/_._
/packages/System.Numerics.Vectors.4.4.0/lib/MonoTouch10/_._
/packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/lib/netcoreapp2.0/_._
/packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/lib/xamarinios10/_._
/packages/System.Numerics.Vectors.4.4.0/lib/xamarinmac20/_._
/packages/System.Numerics.Vectors.4.4.0/lib/xamarintvos10/_._
/packages/System.Numerics.Vectors.4.4.0/lib/xamarinwatchos10/_._
/packages/System.Numerics.Vectors.4.4.0/LICENSE.TXT
/packages/System.Numerics.Vectors.4.4.0/ref/MonoAndroid10/_._
/packages/System.Numerics.Vectors.4.4.0/ref/MonoTouch10/_._
/packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/ref/netcoreapp2.0/_._
/packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/ref/xamarinios10/_._
/packages/System.Numerics.Vectors.4.4.0/ref/xamarinmac20/_._
/packages/System.Numerics.Vectors.4.4.0/ref/xamarintvos10/_._
/packages/System.Numerics.Vectors.4.4.0/ref/xamarinwatchos10/_._
/packages/System.Numerics.Vectors.4.4.0/System.Numerics.Vectors.4.4.0.nupkg
/packages/System.Numerics.Vectors.4.4.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Numerics.Vectors.4.4.0/useSharedDesignerContext.txt
/packages/System.Numerics.Vectors.4.4.0/version.txt
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/.signature.p7s
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/LICENSE.TXT
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/System.Runtime.CompilerServices.Unsafe.4.5.2.nupkg
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/THIRD-PARTY-NOTICES.TXT
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/useSharedDesignerContext.txt
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/version.txt
/packages/System.Threading.Tasks.Extensions.4.5.2/.signature.p7s
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/MonoAndroid10/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/MonoTouch10/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netcoreapp2.1/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netstandard1.0/System.Threading.Tasks.Extensions.dll
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netstandard1.0/System.Threading.Tasks.Extensions.xml
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netstandard2.0/System.Threading.Tasks.Extensions.dll
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netstandard2.0/System.Threading.Tasks.Extensions.xml
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.dll
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.xml
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/xamarinios10/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/xamarinmac20/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/xamarintvos10/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/xamarinwatchos10/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/LICENSE.TXT
/packages/System.Threading.Tasks.Extensions.4.5.2/ref/MonoAndroid10/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/ref/MonoTouch10/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/ref/netcoreapp2.1/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/ref/xamarinios10/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/ref/xamarinmac20/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/ref/xamarintvos10/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/ref/xamarinwatchos10/_._
/packages/System.Threading.Tasks.Extensions.4.5.2/System.Threading.Tasks.Extensions.4.5.2.nupkg
/packages/System.Threading.Tasks.Extensions.4.5.2/THIRD-PARTY-NOTICES.TXT
/packages/System.Threading.Tasks.Extensions.4.5.2/useSharedDesignerContext.txt
/packages/System.Threading.Tasks.Extensions.4.5.2/version.txt
/CreatureInfo (1).csv
/CreatureInfo (1).xlsx
/CreatureInfo (2).xlsx
/CreatureInfo (3).xlsx
/CreatureInfo.csv
/~$CreatureInfo.xlsx
