/.vs/HeroForge-OnceAgain/FileContentIndex/903570a8-8575-41de-915e-4fcae822efbe.vsidx
/.vs/HeroForge-OnceAgain/FileContentIndex/922a0d50-d56e-43e0-83fd-b8148ad0955e.vsidx
/.vs/HeroForge-OnceAgain/FileContentIndex/b0d05fbd-10af-4875-86f1-a880edbb81d9.vsidx
/.vs/HeroForge-OnceAgain/FileContentIndex/read.lock
/.vs/HeroForge-OnceAgain/v17/.suo
/bin/Debug/HeroForge-OnceAgain.exe
/bin/Debug/HeroForge-OnceAgain.exe.config
/bin/Debug/HeroForge-OnceAgain.pdb
/bin/Debug/pt-BR/HeroForge-OnceAgain.resources.dll
/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/HeroForge_OnceAgain.Form1.pt-BR.resources
/obj/Debug/HeroForge_OnceAgain.Form1.resources
/obj/Debug/HeroForge_OnceAgain.Properties.Resources.resources
/obj/Debug/HeroForge-OnceAgain.csproj.AssemblyReference.cache
/obj/Debug/HeroForge-OnceAgain.csproj.CoreCompileInputs.cache
/obj/Debug/HeroForge-OnceAgain.csproj.FileListAbsolute.txt
/obj/Debug/HeroForge-OnceAgain.csproj.GenerateResource.cache
/obj/Debug/HeroForge-OnceAgain.csproj.SuggestedBindingRedirects.cache
/obj/Debug/HeroForge-OnceAgain.exe
/obj/Debug/HeroForge-OnceAgain.pdb
/obj/Debug/pt-BR/HeroForge-OnceAgain.resources.dll
